#not-active {
    text-decoration: none;
    color          : black;
}

.site-header {
    border-top   : 5px solid #424242;
    border-bottom: 2px solid #e8e8e8;
    min-height   : 60px;
    position     : relative;
}

.wrapper {
    margin: 0 auto;
}

.site-title {
    float          : left;
    padding-left   : 450px;
    padding-top    : 15px;
    margin-bottom  : 0;
    font-family    : 'Roboto', sans-serif;
    font-size      : 30px;
    text-decoration: none;
    color          : black;
}

.site-nav {
    float        : right;
    padding-right: 450px;
    padding-top  : 27px;
    font-family  : 'Roboto', sans-serif;

}

.site-nav ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

.site-nav li {
    display: inline-block;
    margin : 0
}

.icons {
    width : 25px;
    height: 25px;
}

/* TOOLTIP IN PROGRESS */

/* TOOLTIP IN PROGRESS */

.page-content {
    height      : 650px;
    margin-left : 450px;
    margin-right: 450px;
    margin-top  : 50px;
}

.blog-title {
    font-family: 'Roboto', sans-serif;
    font-size  : 20px;
}

.blog-date {
    font-family: 'Roboto', sans-serif;
    font-size  : small;
    margin-top : 30px;
}

.blog-content {
    font-family: 'Open Sans', sans-serif;
    font-size  : 20px;
    margin-top : 5px;
}

.site-footer {
    border-top: 2 px solid #e8e8e8;
}



body {
    padding: 0;
    margin : 0;
}

@media (max-device-width: 400px) {
    .page-content {
        margin-left: 100px;
    }

    .site-nav {
        padding-right: 50px;
        padding-top: 20px;
    }

    .blog-title {
        font-family: 'Roboto', sans-serif;
        font-size  : 14px;
    }

    .blog-date {
        font-family: 'Roboto', sans-serif;
        font-size  : small;
        margin-top : 19px;
    }

    .blog-content {
        font-family: 'Open Sans', sans-serif;
        font-size  : 14px;
        margin-top : 5px;
    }

    .site-title {
        padding-left: 100px;
        padding-top: 25px;
        font-size   : 15px;
    }
}

@media (max-width: 800px) {
    .page-content {
        margin-left: 55px;
    }

    .site-nav {
        padding-right: 50px;
        padding-top: 20px;
    }

    .blog-title {
        font-family: 'Roboto', sans-serif;
        font-size  : 14px;
    }

    .blog-date {
        font-family: 'Roboto', sans-serif;
        font-size  : small;
        margin-top : 19px;
    }

    .blog-content {
        font-family: 'Open Sans', sans-serif;
        font-size  : 14px;
        margin-top : 5px;
    }

    .site-title {
        padding-left: 55px;
        padding-top: 25px;
        font-size   : 15px;
    }
}